<section class="container">
  <h2>Products Component</h2>

  <h3>Rta</h3>

  <button data-test-id="btn-promise" (click)="callPromise()">Call promise</button>

  <p data-test-id="p-rta">{{ rta }}</p>

  <div class="my-grid">
    <app-product 
      *ngFor="let product of products"
      [product]="product"
    ></app-product>
  </div>

  <button
    (click)="getAllProducts()"
    [disabled]="status === Status.Loading"
  >
    <span *ngIf="[Status.Success, Status.Init].includes(status)">Load more</span>
    <span *ngIf="status === Status.Loading">Loading</span>
    <span *ngIf="status === Status.Error">Error</span>
  </button>
</section>
